<div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-primary">
        
        <div class="panel-body">
          <form class="form">
              <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" [(ngModel)]="user.email" name="email" />
                </div>
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" [(ngModel)]="user.username" name="username" />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" [(ngModel)]="user.password" name="password" />
            </div>
            <button class="btn btn-primary" (click)="register()">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>