<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Nagnath's Blog</a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="!getUser()" style="display:inline">
        <a href="#" [routerLink]='["/register"]'>SignUp</a>
      </li>
      <li *ngIf="!getUser()" style="display:inline">
        <a href="#" [routerLink]='["/login"]'>Login</a>
      </li>
      <li *ngIf="getUser()" style="display:inline">
        <a href="#" [routerLink]='["/home"]'>Home</a>
      </li>
      <li *ngIf="getUser()" style="display:inline">
        <a href="#" [routerLink]='["/list"]'>List Post</a>
      </li>
      <li *ngIf="getUser()" style="display:inline">
        <a href="#" [routerLink]='["/create"]'>Create Post </a>
      </li>
      <li (click)="clear()" *ngIf="getUser()" style="display:inline">
        <a href="#" [routerLink]='["/login"]'>Logout</a>
      </li>
    </ul>
  </div>
</nav>


