<form>
    <div class="form-group" >
        <label>Title</label>
        <input type="text" class="form-control"[(ngModel)]='post.title' name="title" placeholder="Title"/>
      </div>
      <div class="form-group">
        <label>Decription</label>
        <input type="text" class="form-control" [(ngModel)]='post.description' name="post.description" placeholder="Description"/>      
      </div>
      <div class="form-controls">
        <button class ="btn btn-primary" (click)="createPost(post)"> Post</button>
      </div>

  
  
</form>