<div *ngFor="let post of posts, let i= index  ">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">{{post.title}}</div>
      <div class="panel-body">{{post.description}}
        <br>
        <br>


        <button class="btn btn-primary" (click)="increment(post._id,i)">Like &nbsp;{{post.likes}}</button>
        <button class="btn btn-warning" (click)="showComments(i)">View Comments</button>
        <button type="button" class ="btn btn-primary" (click)="showDetails(i)">View Details</button>


        <br>
        <br>
        <div *ngIf="showcomments[i]">
        <div *ngIf="post.comments" class="well well-md">
          <p *ngFor="let comment of post.comments, let i =index">
            <b>{{comment.cTitle}}
              <hr style="border-top: 1px solid #ccc;"> </b>
          </p>

        </div>
        <div>
            <input type="text" placeholder="comment" [(ngModel)]="comments[i]">
            <button class="btn btn-success" (click)="putComment(i,post._id, comments[i])">Send</button>
          </div>
      </div>

     
    </div>
      <!-- <app-comment [id]='post._id'></app-comment> -->

    </div>
  </div>
  <br>
</div>

